*{
    margin: 0;
    padding: 0;
}
.akton{
    margin-left: 70px;
    padding: 12px;
}
.container-header{
    width: 100%;
    position: relative;
}
.img-header{
    width: 100%;
    height: 50vh;
}
.akton1{
    width: 100%;
    height: 50vh;
} 
.red-border{
    border: 20px solid#CC2229;
}
.akton2{
    height: auto;
    margin-left: -4vh;
    padding-right: 1vh;
}
.akton-partner{
    position: relative;
    left: 3px;
    top: -3px;
}
.viber-box{
    background: #000000;
    opacity: 0.8;
    height:50vh;
    width: 270px;
    position: absolute;
    top: 0;
    left: 200px;
    color: red;
    font-size: 3rem;
    text-align: center;
    line-height: 50vh;
}
.container-fluid{
    width: 100%;
    height:560px;
    position: relative;
    background: #E9E9E9;
}
form{
    width: 45%;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 380px;
    transform: translate(-50%,-50%);
    padding: 60px;
    background: rgb(255, 255, 255);
    border-top: 30px solid #CC2229;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
form .btn-sm{
   position: absolute;
   left: 50%;
   top: 80%;
   transform: translate(-50%,-50%);
   width: 135px;
   background: #CC2229;
   color: rgb(255, 255, 255);
   font-size: 1.5rem;
   border-radius: none !important;
}
form .btn-sm:hover{
   background: #CC2229;
   color: rgb(255, 255, 255);
}
input{
    background: #E9E9E9 !important;
    border: none !important;
}
.txt  a{
    left: 50%;
    top: 89%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-size: 1.2rem;
    color: #242424;
}


@media only screen and (max-width: 767px){

    .img-header{
        width: 100%;
        height: 30vh;
    }
    
    .akton1{
        width: 100%;
        height: 30vh;
    } 
    .akton2{
        height: auto;
        margin-left: 0vh;
        padding-right: 1vh;
        width: 75px;
    }
    .akton-partner{
        position: relative;
        left: 1px;
        top: -3px;
        width: 75px;
    }
    .viber-box{
        background: #000000;
        opacity: 0.8;
        height: 30vh;
        width: 170px;
        position: absolute;
        top: 0;
        left: 50px;
        color: red;
        font-size: 2.3rem;
        text-align: center;
        line-height:32vh;
    }
    .box{
        width: 100%;
        height:500px;
        position: relative;
        background: #E9E9E9;
    }
    .container-fluid{
        width: 100%;
        height:500px;
        position: relative;
        background: #E9E9E9;
    }
    form{
        border-top: 30px solid #CC2229 !important;
        width: 90vw;
        padding: 5vh;
        height: 380px;
    }
    form .btn-sm{
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%,-50%);
        width: 135px;
        background: #CC2229;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        border-radius: none !important;
     }
     .txt  a{
        left: 50%;
        top: 84%;
        transform: translate(-50%,-50%);
        position: absolute;
        font-size: 1.2rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){

    .img-header{
        width: 100%;
        height: 30vh;
    }
    .akton1{
        width: 100%;
        height: 30vh;
    } 
    .akton2{
        height: auto;
        margin-left: 0;
        padding-right: 1vh;
        width: 90px;
    }
    .akton-partner{
        position: relative;
        left: -5px;
        top: -3px;
        width: 90px;
    }
    .viber-box{
        background: #000000;
        opacity: 0.8;
        height: 30vh;
        width: 200px;
        position: absolute;
        top: 0;
        left: 140px;
        color: red;
        font-size: 3rem;
        text-align: center;
        line-height: 35vh;   
    }
    form{
        width: 52%;
        position: absolute;
        left: 50%;
        top: 50%;
        height: 400px;
        transform: translate(-50%,-50%);
        padding: 60px;
        background: rgb(255, 255, 255);
        border-top: 30px solid #CC2229;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    form .btn-sm{
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%,-50%);
        width: 135px;
        background: #CC2229;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        border-radius: none !important;
     }
     .txt  a{
        left: 50%;
        top: 83%;
        transform: translate(-50%,-50%);
        position: absolute;
        font-size: 1.2rem;
    }
    
   
}